body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.container { 
    max-width: 1158px;
    width: 100%;
    padding-left: 15px; 
    padding-right: 15px; 
    margin: 0 auto; 
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo {
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 1.17;
    font-size: 18px;
    text-transform: uppercase;
    color: #4d5ae5;
    letter-spacing: 0.03em;
}

.header-logo .logo-part {
    color: #2e2f42;
    letter-spacing: 0.03em;
    line-height: 1.17;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.nav-link {
   padding: 24px 0;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2e2f42;
}
.studio-link {
    position: relative;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 1px 6px rgba(46, 47, 66, 0.08);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #404bbf;
}
.studio-link::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: "";
    border-radius: 2px;
    width: 48px;
    height: 4px;
    background: #404bbf;
    display: block;
    margin: 0 auto;
 }

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
}

.contacts-list {
    gap: 40px;
    display: flex;
}

.contacts-item {
    margin: 0;
    padding: 0;
}

.contacts-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.page-footer {
    padding: 100px 0;
    background-color: #2e2f42;
    color: #f4f4fd;
}

.hero {
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    background-position: center; 
    max-width: 1440px;
    padding: 188px 0;
    background-color: #2e2f42;
    line-height: 1.07;
    letter-spacing: 0.02em;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero/people-office.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-title {
    margin-left: auto; 
    margin-right: auto;
    max-width: 496px;
    margin-bottom: 48px;
    display: flex;
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    color: #ffffff;
    letter-spacing: 0.02em;
}

.hero-button {
    border: none;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
    background-color: #4d5ae5;
    display: block;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

.strategy,
.h3-banking-app,
.h3-cashless-payment,
.h3-meditation-app,
.h3-taxi-service,
.h3-screen-illustrations,
.h3-online-courses {
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
}

.app,
.marketing,
.design {
    font-size: 16px;
    color: #434455;
}

.increase {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.h-our-team,
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #2e2f42;  
}

.h-adv {
    padding: 120px 0;
    font-weight: 700;
    font-size: 36px;
    color: #2e2f42;
}
.our-team {
    background: #f4f4fd;
    padding: 120px 0;
}

.section-our-portfolio {
    padding-top: 120px; 
    padding-bottom: 120px;
    background: #ffffff;
}

.team-member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-member-role {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-title {
    margin-bottom: 72px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.portfolio-item{
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.icon-strategy {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
}

.strategy {
    margin-bottom: 8px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.strategy-paragraf {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.h-our-team {
    margin-bottom: 72px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-member-info {
    padding: 32px 0;
}

.team-member-name {
    text-align: center;
    margin-bottom: 8px;
}

.team-member-role {
    text-align: center; 
}

.mark-guerrero {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
    border-radius: 0px 0px 4px 4px; 
    background-color: #FFFFFF;
}

.footer-logo {
    margin-bottom: 16px;
    display: inline-block;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.page-header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);             
    border-bottom: 1px solid #e7e9fc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: #404bbf;
}

.nav-list {
    padding: 24px 0; 
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px;
}

.container-h2-adv {
    margin-top: 120px;
    margin-right: 156px;
    margin-bottom: 120px;
    margin-left: 156px;
}

.list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: flex-start;
    align-items: baseline; 
}

.adv-list {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    width: calc((100% - 72px) / 4);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.list-our-team{
    display: flex;
    flex-direction: row;
    gap: 24px; 
}

.icon-section-three:hover,
.icon-section-three:focus {
    background-color: #404BBF;
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list {
    width: 1128px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.section-image {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 8px;
}


.overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color, #f4f4fd); 
    padding: 40px 32px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-image:hover .overlay-text {
    transform: translateY(0%);
}

.app-container {
     padding: 32px 16px;
     border-bottom: 1px solid #e7e9fc;
     border-left: 1px solid #e7e9fc;
     border-right: 1px solid #e7e9fc;
     border-top: none;
}

.app-name {
    margin-bottom: 8px;
}

.nav-list {
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    column-gap: 40px;
}

.page-header .container {
    justify-content: space-between;
    display: flex;
}

.footcont {
    display: flex;
    align-items: baseline;
}


.increase {
   width: 264px;
   font-weight: 500; 
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #FFFFFF;
}

.social {
    width: 208px; 
    margin-bottom: 16px;
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.container-footer {
    flex-direction: column;
    margin-right: 120px;
    text-align: left;
    gap: 16px;  
}

.icon-list-section-three {
    justify-content: center;
    display: flex;
    gap: 24px; 
}

.icon-list {
    justify-content: center;
    display: flex;
    gap: 16px; 
}

.item-icon {
    width: 40px;
    height: 40px;
    fill: #ffffff;
}
.icon-link {
        display: flex;
        width: 40px;
        height: 40px;
        background-color: #4d5ae5;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-section-three {
    width: 100%;
    display: flex;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: center;
}

.icon-link:hover,
.icon-link:focus {
    background-color: #31d0aa;
}


:root {
    --icon-color: #f4f4fd;
}
  
.footer-icon {
    fill: var(--icon-color);
    display: flex;
    gap: 16px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999999;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    margin-bottom: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc; 
    padding: 24px; 
    padding-top: 72px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
}

.icon-close {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 8px;
    height: 8px;
}

.modal-close:hover,
.modal-close:focus {
    background-color:#404bbf;
    border: none;
}

.modal-close:hover .icon-close,
.modal-close:focus .icon-close {
    fill:#FFFFFF;
}

.form-wrapper-cont {
    margin-bottom: 8px ;
}
.form-user-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.form-user-input {
    width: 100%;
    height:40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    background-color: transparent;
    outline: transparent;
}

.form-user-input:focus {
    border: 1px solid #4d5ae5;
}

.form-user-input:focus+ .form-user-icon {
    fill:#4d5ae5;
}

.form-user-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.form-user-icon-wrapper {
    position: relative;
    margin-bottom: 16px;
}

.form-user-coment{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent; 
    width: 100%;
    resize: none;
    min-height: 120px;
    outline: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-user-coment:focus {
    border: 1px solid #4d5ae5;
}

.form-comment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.blue-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}
.label-checkbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:#8e8f99;
}
.custom-checkbox{
    width: 16px; 
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .label-checkbox .custom-checkbox{
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.form-checkbox {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.form-checkbox-wrapper {
    margin-bottom: 24px;
}

.button-form-submit{
    border: none;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    position: absolute;
    bottom: 16px;
    left: 50%;
    cursor: pointer;
    transform: translateX(-50%);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.button-form:hover,
.button-form:focus {
    background-color: #404bbf;
}

.email-footer {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.form-email-footer{
    display: flex;
    gap: 24px;
}
.email-footer::placeholder {
    color: #ffffff;
}

.button-subscribe {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-subscribe:hover,
.button-subscribe:focus {
    background-color: #404bbf;
}

.icon-subscribe{
    margin-left: 16px;
    fill: #fff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
